[Unit]
Description=Domotux Service
After=network.target

[Service]
User=domotux
Group=domotux
ExecStart=domotux
Restart=always

[Install]
WantedBy=multi-user.target
